<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment page</title>

    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Payment page</h1>
    <form action="/pay" method="POST">
        <label for="username">Username</label>
        <input disabled type="text" name="username" value="<%- username %>">
        <label for="email">Email</label>
        <input disabled type="text" name="email" value="<%- email %>">
        <label for="pan">pan</label>
        <input name="pan" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="4242424242424242" required>
        <label for="exp">Expiry date</label>
        <input required type="text" name="exp" placeholder="02/24" pattern="^(0[1-9]|1[0-2])\/\d{2}$">
        <label for="cvv">CVV</label>
        <input required type="text" name="cvv" placeholder="242">
        <label for="notes">Order notes</label>
        <input type="text" name="notes" placeholder="No pineapple on the pizza pls">

        <input type="hidden" name="paymentIntent" value="<%- paymentIntent %>">
        
        <button>
            Pay now <%- price %>
                <%- currency %>
        </button>
        <button onclick="window.history.back()">
            Cancel
        </button>
    </form>
</body>

</html>